:root {
  font-family: Lexend, sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-color: #f9fcff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  min-height: 40px !important;
  color: #000 !important;
  transition: border-color 0.25s;
}

.ant-layout-sider-children {
  padding: 0 10px;
  height: 100%;
}

.sidebar-container {
  height: 100%;
}

.ant-menu-item-icon {
  padding: 7px;
  border-radius: 5px;
}

.ant-menu-item {
  padding: 0 12px !important;
  gap: 8px;
}

.ant-menu-inline .ant-menu-item {
  height: 50px !important;
}

.ant-menu-item .ant-menu-item-icon {
  color: #7bda08 !important;
  background-color: #f6f6f6;
}

.ant-menu-title-content {
  font-weight: 400;
  font-size: 14px;
}

.ant-menu-item-selected .ant-menu-title-content {
  font-weight: 500;
}

.ant-menu-item-selected .ant-menu-item-icon {
  background-color: #7bda08;
  color: #1b1b1b !important;
}

.ant-menu {
  border-right: none !important;
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
}

.btn-connect-wallet {
  padding: auto 32px !important;
}

.w-full {
  width: 100%;
}

.device-modal {
  padding-bottom: 15px;
}

.breadcrumbs-container {
  margin: 12px 0 4px 12px;
}

.text-recomended-black {
  color: #000 !important;
  font-size: 12px;
  padding: 2px;
  border-radius: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  margin: auto !important;
}

.btn-select-wallet {
  width: 100%;
  border: 1px solid #e4e7ec;
  background-color: #fff;
}

.btn-login {
  color: #1b1b1b;
}

.login-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  padding: 32px 0;
  z-index: 100;
}

.login-item-active {
  color: #7bda08;
}

.navbar-box {
  width: 52%;
  padding: 10px 32px;
  background-color: #ffffffb3;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 4px 21px 0 #00000012;
}

.login-container .login-side-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-container .login-side-right {
  position: relative;
}

.login-side-right .login-side-right-logo {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 85%;
}

.navigate-back {
  cursor: pointer;
  margin: 0 !important;
}

.login-modal .ant-input-outlined {
  background-color: #f6f6f6 !important;
}

.login-modal .ant-input::placeholder {
  font-size: 14px;
}

.login-container .login-modal {
  max-width: 350px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  margin-left: 10%;
}

.login-container .login-modal .login-title {
  font-size: 1em;
  margin-bottom: 25px;
}

.login-container .login-modal .login-title .login-title-heading {
  color: #5daf01;
  font-size: 35px;
  font-weight: 400;
}

.login-container .login-modal .login-title .login-title-description {
  color: #4f4f4f;
  font-weight: 300;
}

.site-layout-background {
  height: 86vh;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.sidebar-helper {
  width: 100%;
  height: 170px;
  background-image: url('/image/bg-helper.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 12px;
}

.sidebar-helper .helper-img {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: fit-content;
  background: #fff;
}

.sidebar-helper .helper-title {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.sidebar-helper .helper-description {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}

.project-action-bar {
  margin: 20px 0;
}

.project-action-bar .project-search-bar {
  width: 250px;
}

.project-create-layout {
  height: 100%;
  scrollbar-width: thin;
}

.not-found-layout {
  height: 100vh;
}

.footer {
  text-align: center;
}

.copy-successs {
  color: #5daf01;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 1024px) {
  .navbar-box {
    width: 100%;
    margin: 0 15px;
  }

  .login-container .login-side-right {
    width: 100%;
  }

  .login-container .login-modal {
    margin-left: 0;
  }
}

.device-modal-select {
  width: 250px;
}

.project-modal-select {
  min-width: 250px;
}

.ql-container {
  max-height: 400px !important;
  min-height: 150px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.project-overview-content {
  height: 73vh;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 10px;
}

.project-description {
  padding: 10px;
  width: 100%;
}

.project-description img {
  width: 100%;
}

.project-image-view {
  aspect-ratio: 16/9;
  object-fit: cover;
  padding: 10px;
  max-width: 250px !important;
  width: 100%;
  height: 100%;
}

.project-overview-content .ant-image-mask {
  max-width: 250px !important;
}

.ant-tabs .ant-tabs-content-holder {
  max-height: 73vh;
  overflow: hidden;
}

.project-dashboard-card {
  width: 250px;
  text-align: center;
  border-radius: 10px;
}

.project-dashboard {
  padding: 10px;
}
