:root {
  --font-family: Lexend, sans-serif !important;

  font-family: Lexend, sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #7bda08;
  --main-gray: rgb(246 246 246 / 100%);
  --submit-button-bg: var(--main-color);
  --submit-button-bg-hover: #5daf01;
  --button-padding: 16px 32px;
  --button-radius: 4px;
  --div-radius: 12px;
}

#root {
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-color: #f9fcff;
}

main {
  border-radius: 4px !important;
  margin: 15px !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-family: var(--font-family), serif !important;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family), serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: #000 !important;
  transition: border-color 0.25s;
}

.ant-layout-sider-children {
  padding: 0 10px;
  height: 100%;
}

.sidebar-container {
  height: 100%;
}

.ant-menu-item-icon {
  padding: 7px;
  border-radius: 5px;
}

.ant-menu-item {
  padding: 0 12px !important;
  gap: 8px;
}

.ant-menu-inline .ant-menu-item {
  height: 50px !important;
}

.ant-menu-item .ant-menu-item-icon {
  color: #7bda08 !important;
  background-color: #f6f6f6;
}

.ant-menu-title-content {
  font-weight: 400;
  font-size: 14px;
}

.ant-menu-item-selected .ant-menu-title-content {
  font-weight: 500;
}

.ant-menu-item-selected .ant-menu-item-icon {
  background-color: #7bda08;
  color: #1b1b1b !important;
}

.ant-menu {
  border-right: none !important;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

.ant-menu::after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 83%;
  height: 1px;
  background-color: #f0f0f0;
}

.btn-wallet {
  padding: 0 32px !important;
  min-height: 40px;
}

.btn-wallet-connected {
  background-color: #7bda08;
}

.w-full {
  width: 100%;
}

.device-modal {
  padding-bottom: 15px;
}

.breadcrumbs-container {
  margin: 12px 0 0 16px;
}

.text-recomended-black {
  color: #5e5e5e !important;
  font-size: 11px;
  padding: 0 4px;
  border-radius: 10px;
  font-weight: 100;
  background-color: rgb(0 222 242 / 10%);
  border-color: rgb(0 222 242 / 10%);
}

.wallet-modal-detect-tag {
  font-size: 12px;
  font-weight: 100;
  color: white;
  background-color: rgb(252 196 0 / 100%);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.header-title {
  margin: auto !important;
}

.btn-select-wallet {
  width: 100%;
  border: 1px solid #e4e7ec;
  background-color: #fff;
  min-height: 40px;
  padding: 16px;
  font-weight: 400;
}

.btn-login {
  min-height: 40px;
}

.login-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  padding: 32px 0;
  z-index: 100;
}

.login-item-active {
  color: #7bda08;
}

.navbar-box {
  width: 52%;
  padding: 10px 32px;
  background-color: #ffffffb3;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 4px 21px 0 #00000012;
}

.login-container .login-side-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-container .login-side-right {
  position: relative;
}

.login-side-right .login-side-right-logo {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 85%;
}

.navigate-back {
  cursor: pointer;
  margin: 0 !important;
}

.login-modal .ant-input-outlined {
  background-color: #f6f6f6 !important;
}

.login-modal .ant-input::placeholder {
  font-size: 14px;
}

.login-container .login-modal {
  max-width: 350px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  margin-left: 10%;
}

.login-container .login-modal .login-title {
  font-size: 1em;
  margin-bottom: 25px;
}

.login-container .login-modal .login-title .login-title-heading {
  color: #5daf01;
  font-size: 35px;
  font-weight: 400;
}

.login-container .login-modal .login-title .login-title-description {
  color: #4f4f4f;
  font-weight: 300;
}

.site-layout-background {
  height: 86vh;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.sidebar-helper {
  width: 100%;
  height: 170px;
  background-image: url('/image/bg-helper.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 12px;
}

.sidebar-helper .helper-img {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: fit-content;
  background: #fff;
}

.sidebar-helper .helper-title {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.sidebar-helper .helper-description {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}

.project-action-bar {
  margin: 15px 0;
}

.project-action-bar .project-search-bar {
  width: 250px;
}

.project-create-layout {
  height: 100%;
  scrollbar-width: thin;
  overflow-y: auto;
}

.not-found-layout {
  height: 100vh;
}

.footer {
  text-align: center;
}

.copy-successs {
  color: #5daf01;
}

.ant-table-body {
  scrollbar-width: thin;
}

.profile-value {
  display: inline-block;
  padding: 5px 20px;
  width: 350px;
  background-color: #e4e7ec;
  border-radius: 4px;
  word-break: break-all;
}

.po-filter {
  min-width: 100px;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 1024px) {
  .navbar-box {
    width: 100%;
    margin: 0 15px;
  }

  .login-container .login-side-right {
    width: 100%;
  }

  .login-container .login-modal {
    margin-left: 0;
  }
}

.device-modal-select {
  width: 250px;
}

.project-modal-select {
  min-width: 250px;
}

.ql-tooltip {
  left: 30% !important;
  top: 35% !important;
}

.ql-container {
  max-height: 450px !important;
  min-height: 150px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.project-overview-content {
  height: 73vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.project-description {
  padding: 10px;
  width: 100%;
}

.project-description img {
  width: 100%;
}

.project-image-view {
  aspect-ratio: 16/9;
  object-fit: cover;
  padding: 10px;
  max-width: 250px !important;
  width: 100%;
  height: 100%;
}

.project-overview-content .ant-image-mask {
  max-width: 250px !important;
}

.ant-tabs .ant-tabs-content-holder {
  overflow: auto;
  height: calc(100vh - 250px);
}

.project-dashboard-card {
  width: 250px;
  text-align: center;
  border-radius: 10px;
}

.project-dashboard {
  padding: 10px;
}

.ant-notification-notice-message,
.ant-notification-notice-description {
  margin-left: 50px !important;
}

.ant-notification-notice-icon-success {
  content: url('/image/common/success.svg');
}

.ant-notification-notice-icon {
  width: 50px;
  top: 24px;
  left: 15px;
}

.ant-notification-notice-icon-warning {
  content: url('/image/common/warning.svg');
}

.ant-notification-notice-icon-error {
  content: url('/image/common/error.svg');
}

.ant-upload {
  font-size: 14px;
  color: #888;
}

input::placeholder {
  color: #888;
  font-size: 14px;
}

label {
  font-size: 14px;
  color: #21272a;
  font-weight: 400;
}

.ant-btn,
.ant-modal {
  font-family: var(--font-family), serif;
}

.ant-spin,
.ant-spin-dot-holder {
  color: var(--main-color) !important;
}

.ant-tabs-tab {
  width: 200px;
  font-weight: 500;
}

.main-center-div {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.center-content-layout {
  height: 100%;
}

.center-content-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.my-notification-title {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-family), serif !important;
}

.my-notification-description {
  font-size: 14px;
  font-family: var(--font-family), serif !important;
}

.ant-form-item-explain-error,
.ant-tooltip-inner,
.ant-select-item {
  font-size: 14px !important;
}

.ant-tabs .ant-tabs-content {
  height: 100%;
}

.ant-tabs .ant-tabs-tabpane {
  height: 100%;
  padding-top: 30px;
}

.quill .ql-toolbar {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.quill {
  span,
  p,
  div {
    font-family: var(--font-family), serif !important;
  }

  .ql-container {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
